.status {
  width: 320px;
  min-height: 50px;

  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 auto;

  text-align: center;

  display: none;
}

.status__content {
  position: relative;
  left: -50%;

  background-color: white;

  border: 2px solid #747474;
  border-top-width: 0;
}

.status__content h1 {
  margin: 0 0;
}

.status--slide {
  display: block;
  animation-delay: 5s;
  animation: slide 5s;
}

@keyframes slide {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
