extends layout.pug
//- <!--suppress XmlUnboundNsPrefix, HtmlUnknownAttribute -->
block content
  header.header
    h1.header__title= title
  main.container
    form(action="/command" method="POST")#encrypt.tab__content.tab__content--selected
      .panel
        span.panel__label() TV Controller
        .panel__group
          button.panel__input(title='TV on' name='command' value='tv on' type='submit')
            svg(viewBox='0 0 8 8' width='24' height='24')
              use(xlink:href='icons/open-iconic.svg#lock-unlocked')
          button.panel__input(title='TV off' name='command' value='tv off' type='submit')
            svg(viewbox='0 0 8 8' width='24' height='24')
              use(xlink:href='icons/open-iconic.svg#lock-locked')

        .panel__group
          button.panel__input(title='Chromecast' name='command' value='tv chromecast' type='submit').
            Chromecast
          button.panel__input(title='XBox' name='command' value='tv xbox' type='submit').
            Xbox
          button.panel__input(title='Raspberry' name='command' value='tv raspberry' type='submit').
            Raspberry
