extends layout.pug
include includes/command
include includes/panel
include includes/icon
//- <!--suppress XmlUnboundNsPrefix, HtmlUnknownAttribute -->
block content
  header.header
    h1.header__title= title
  main.container
    each commands, label in controller
      +panel(label)(id='tvset')
        each it, command in commands
          .panel__group
            +command(it.description, `tv ${command}`)
              case command
                when 'on'
                  +icon('power-off')(style="fill: green")
                when 'off'
                  +icon('power-off')(style="fill: red")
                default
                  =it.label

    form(action="/command" method="POST")#tvset.tab__content.tab__content--selected
      .panel
        span.panel__label() TV Controller

        .panel__group
          +command('TV on', 'tv on')
            +icon('power-off')(style="fill: green")
          +command('TV off', 'tv off')
            +icon('power-off')(style="fill: red")

        .panel__group
          +command('Chromecast', 'tv chromecast').
            Chromecast
          +command('HDMI', 'tv hdmi').
            HDMI
          +command('Raspberry', 'tv raspberry').
            Raspberry

    form(action="/command" method="POST")#ligthcontroller.tab__content.tab__content--selected
      .panel
        span.panel__label() Light Controller

        .panel__group
          +command('Light on', 'light on')
            +icon('lightbulb')(style="fill: red")
          +command('Light off', 'light off')
            +icon('lightbulb')

        .panel__group
          +command('Red', 'light red').
            Red
          +command('Green', 'light green').
            Green
          +command('Blue', 'light blue').
            Blue
          +command('White', 'light white').
            White

        .panel__group
          +command('Bright', 'light bright').
            Bright
          +command('Normal', 'light normal').
            Normal
          +command('Dark', 'light dark').
            Dark

