extends layout.pug
include includes/command
include includes/icon
//- <!--suppress XmlUnboundNsPrefix, HtmlUnknownAttribute -->
block content
  header.header
    h1.header__title= title
  main.container
    form(action="/command" method="POST")#tvset.tab__content.tab__content--selected
      .panel
        span.panel__label() TV Controller

        .panel__group
          +command('TV on', 'tv on')
            +icon('lock-unlocked')(class="red")
          +command('TV off', 'tv off')
            +icon('lock-locked')

        .panel__group
          +command('Chromecast', 'tv chromecast').
            Chromecast
          +command('XBox', 'tv xbox').
            HDMI
          +command('Raspberry', 'tv raspberry').
            Raspberry

    form(action="/command" method="POST")#ligthcontroller.tab__content.tab__content--selected
      .panel
        span.panel__label() Light Controller

        .panel__group
          +command('Light on', 'light on')
            +icon('lightbulb')(class="red")
          +command('Light off', 'light off')
            +icon('lightbulb')

        .panel__group
          +command('Red', 'light red').
            Red
          +command('Green', 'light green').
            Green
          +command('Blue', 'light blue').
            Blue

